# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components
package-lock.json
README.md
package.json
eslint.config.js
vite.config.js
index.html
public
gitignore


*.sublime*

psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/react
